@media only screen and (min-width: 767px) {
  /* ----- GRIDS ----- */
  .what-we-do {
    grid-template-columns: repeat(3, 1fr);
    padding: 3%;
  }

  .reviews {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ------------------ */
  h1 {
    font-size: 5.2rem;
  }

  h3 {
    font-size: 2.2rem;
  }
  .logo-big {
    width: 38rem;
  }
  .br-header {
    display: none;
  }
  /* ----- NAVBAR ----- */
  nav {
    padding: 1em 0;
  }

  /* ----- DESKTOP NAVBAR ----- */
  .main-nav {
    display: flex;
    flex-direction: unset;
    justify-content: center;
  }
  .main-nav li {
    border: none;
    padding: 0.5em;
    font-size: 2.2rem;
    width: unset;
  }
  .menu-button {
    display: none;
  }

  /* ----- HERO TEXT BOX ----- */
  .hero-text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 50rem;
    padding-bottom: 10em;
    background-color: #ffffffec;
    margin-left: 0;
  }
}
