@media only screen and (min-width: 767px) {
  /* ----- GRIDS ----- */
  .what-we-do {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
  }

  .reviews {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-us {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4em;
    text-align: start;
  }

  /* ------------------ */
  h1 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 1.8rem;
  }
  section {
    padding: 5.5rem 4%;
  }
  .logo-big {
    width: 38rem;
  }
  .br-header {
    display: none;
  }
  /* ----- NAVBAR ----- */
  nav {
    padding: 1em 0;
  }

  /* ----- DESKTOP NAVBAR ----- */
  .main-nav {
    display: flex;
    flex-direction: unset;
    justify-content: center;
  }
  .main-nav li {
    border: none;
    padding: 0.5em;
    font-size: 2.2rem;
    width: unset;
  }
  .main-nav li:first-of-type {
    margin-left: 0;
  }
  .menu-button {
    display: none;
  }

  /* ----- HERO TEXT BOX ----- */
  .hero-text-box {
    position: absolute;
    top: 51rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50rem;
    padding-bottom: 10em;
    background-color: #fffffff5;
    margin-left: 0;
  }
}

@media only screen and (min-width: 920px) {
  h3 {
    font-size: 2.5rem;
  }
}
