/*
 navbar-color:#267AAA
 text-color #4F4F4F
 
 */

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

body {
  padding: 0 2%;
  background-color: #f0f0f0;
}

/* ----------------------------------------------- */
/* REUSEABLE */
/* ----------------------------------------------- */
.logo-big {
  width: 12em;
}

/* .br-header {
} */

h1,
h2 {
  padding: 0.8em 0;
  font-size: 35px;
}

h2,
h4 {
  color: #1b5e85;
}

h3 {
  margin-bottom: 0.7em;
  font-size: 30px;
}

p {
  font-size: 18px;
  max-width: 75ch;
  line-height: 26px;
}

section {
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
  text-align: center;
  vertical-align: middle;
  padding: 3rem 0;
  grid-template-columns: 1fr;
  border-bottom: 1px #f2f2f2 solid;
  background-color: #fff;
}

/* ----- NAVBAR ----- */
nav {
  background-color: #267aaa;
  color: #fff;
  padding: 1em 0;
}
.main-nav {
  display: none;
}

.menu-icon {
  vertical-align: middle;
}

/* .hero-text-box {
  text-align: center;
} */

.hero-text-box p {
  display: inline-block;
}

/* ----------------------------------------------- */
/* WHAT WE DO */
/* ----------------------------------------------- */
.what-we-do {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.what-we-do-box {
  margin-bottom: 3em;
  padding: 0 4%;
}

.what-we-do-box p {
  text-align: start;
  margin-top: 0.5em;
}

/* ----------------------------------------------- */
/* WHAT WE DO */
/* ----------------------------------------------- */
.reviews {
  display: grid;
  grid-template-columns: 1fr;
}

.reviews-box {
  padding: 3em;
}

.reviews-box p {
  padding-bottom: 1em;
  font-style: italic;
}

.review-logo {
  border-radius: 100px;
  margin-bottom: 1em;
}
